<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}

      <label for="">Profile_Image</label>
       <input type="text" name="Profile_Image" value="asdasdasd">
       <br>

     <label for="">First_name</label>
      <input type="text" name="First_name" value="asdasd">
      <br>
      <label for="">Father_name</label>
      <input type="text" name="Father_name" value="asdasd">
      <br>
      <label for="">Middle_name</label>
      <input type="text" name="Middle_name" value="asdasdasd">
      <br>
      <label for="">Last_name</label>
      <input type="text" name="Last_name" value="asdasdasd">
      <br>
      <label for="">Full_address</label>
      <input type="text" name="Full_address" value="asdasdasd">
      <br>
      <label for="">Birthdate</label>
      <input type="text" name="Birthdate" value="08/07/1992">
      <br>
      <label for="">Bio</label>
      <input type="text" name="Bio" value="asdasdasd">
      <br>
      <label for="">Gender</label>
      <input type="text" name="Gender" value="1">
      <br>
      <label for="">Country_Birth</label>
      <input type="text" name="Country_Birth" value="asdasd">
      <br>
      <label for="">Country_Residence</label>
      <input type="text" name="Country_Residence" value="asdasd">
      <br>
      <label for="">Linkedin_URL</label>
      <input type="text" name="Linkedin_URL" value="https://www.google.com">
      <br>
      <label for="">Mobile_Number</label>
      <input type="text" name="Mobile_Number" value="0567269660">
      <input type="submit" name="submit" value="submit">
    </form>

  </body>
</html>
